* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited, a:hover  {
    text-decoration: none;
    color: #E4F1FE;
}

nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

body {
    margin: 0;
    background: #FFCB3C;
    color: #E4F1FE;
    font-family: Raleway;
}

.container {
    margin: 5px 10px;
}

.header-line {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #424242;
    border-radius: 53px;
    margin-bottom: 10px;
    
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
}

.menu ul {
    margin-left: 80px;
}

.menu ul li {
    display: inline-block;
    margin-right: 40px;
}

.menu ul li a {
    transition: color 0.1s linear;
}

.menu ul li a:hover {
    color: #000;
}

.profile_photo {
    margin: 0 12px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 35px;
}

.welcome_message {    
    margin-top: 130px;
    margin-left: 130px;
}

.welcome_message p {
    margin-left: 80px;
}

.welcome h1 {
    font-family: Poller One;
    font-size: 80px;
    font-weight: 400;
    line-height: 95px;
    letter-spacing: 0.05em;
    text-align: left;
}

.welcome p {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 500;
}

.welcome_button {
    display: inline-block;
    padding: 25px 50px;
    margin-left: 130px;
    margin-top: 130px;
    background-color: #EE860CF2;
    border-radius: 100px;

    font-family: Poppins;
    font-weight: 500;
    font-size: 35px;

    transition: background-color 0.2s linear;
}

.welcome_button:hover {
    background-color: #99590ff2;
}

.welcome_img {
    max-height: 620px;
    margin-top: -10px;
}